<div class="topics-edit">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_for @topic do |f| %>

    <div class="form">
      <div class="form-body">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control description-text' %>
        <%= f.submit '保存', class: 'btn btn-black btn-lg' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
