h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top2.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-bottom: 100px;
}

.top-hero-container {
  padding-top: 120px;
  h1 {
    padding-top: 150px;
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;


  .users-new-container {
    padding-top: 120px;
    text-align: center;

    .form-group {
      margin-bottom: 30px;
    }
  }
}

.sign-in-navigation {
  color: #fff;
  font-size: 18px;
}

.users-new-wrapper2 {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 150px;

    .form-group {
      margin-bottom: 40px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  font-size: 20px;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    coler: #fff !important;
  }
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 50px;
  text-align: center;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.topic-text-center {
  margin-top: 120px;
}

.topics-show form {
  display: inline;
}

.topics-show-item {
  margin-top: 100px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.topics-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: contain;
}

.topics-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.topics-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.favorite-btn {
  color: #8899a6;
}

.favorite-btn-unfavorite {
  color: #ff2581;
}

.topics-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.topics-edit {
  padding-top: 150px;
  text-align: center;
}

.fa.fa-heart {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.description-text {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 50%;
}

.comment-image {
  width: 100%;
}

.comment-icon {
  width: 35px;
  height: 35px;
}

.form-group-comment {
  margin-bottom: 5px;
}

.icons-left {
  text-align: left;
}

.profile-wrap{
  margin:40px 0px;
}

.round-img{
  position:absolute;
  top: 150px;
  right: 10px;
  border-radius:50%;
  width: 150px;
  height: 150px;
}

.user-name {
  margin-top: 150px;
  position: relative;
  left: 50px;
}
.user-mail {
  margin-top: 20px;
  position: relative;
  left: 35px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}

// .navbar-nav {
//    display:table;
//    width:100%;
//    margin: 0;
// }
// .navbar-nav > li {
//    float:none;
//    display:table-cell;
//    text-align:center;
// }
